# Dependencias
node_modules/
dist/

# Carpetas ocultas de herramientas
.astro/
.agents/
.github/

# Ocultar específicamente la subcarpeta skills
.vscode/skills/

# Archivos de entorno (Seguridad)
.env
.env.*
!.env.example